<template name ="comments">
	{{> commentsHeader }}
	{{> commentBody }} 
</template>

<template name="commentBody">
	<div class="comments">
	    {{#each comments}}
		{{> comment}}
	    {{/each}}

	    {{#if currentUser}}
		{{> commentSubmit}}
	    {{else}}
	        <p> Please log in to leave a comment.</p>
	    {{/if}}
	</div>
</template>

<template name ="commentsHeader">
	<div class="comments-icon"> 
	     <img src="/icons/Chat.png"/> 
	</div>

	<div class ="comments-header">
		<span class="comments-header-text"> Show comments</span>
	</div>
</template>

<template name = "comment">
    <div class ="comment-item">
        <div class="post-meta comment-meta">
	    <span class="author">{{author}}</span>
            <span class="date">on {{submittedText}}</span>
        </div>
        <div class="post-text"><p> {{body}}</p></div>
    </div>
</template>

<template name="commentSubmit">
	<form name="comment" class="comment-form">
	    <div class="control-group">
		<div class="controls">
		    <label for="body">Comment on this post</label>
		    <textarea class="comment-item" name="body"></textarea>
		</div>
	    </div>
	    <div class="control-group">
		<div class="controls">
		    <button type="submit" class="btn secondary-btn add-coment-btn">Add Comment</button>
		</div>
	    </div>
	</form>
</template>
