<template name ="dashboard">
	<div class="dashboard-module">
		<form action="/dashboard" class="secondary-form" id="dash-user-form" method="post">
		
			<h3 class="secondary-form-head"> User Settings </h3>
			
			<label for="user-bio" class ="input-head"> Short Bio </label>
			<textarea class="form-control" id="dash-short-bio" name="shortBio" maxlength="150" onkeyup="textCounter(this,'counter',150);" > {{ currentUser.profile.bio }} </textarea>
			<p id="counter" style="color:red;font-size:10px">*150 characters left</p>


			<label for="username" class ="input-head"> Username </label>
			<p class ="help-text"> What you want to be known as around </p>	
			<input class="form-control username" id="dash-username" name="username" value = " {{ currentUser.profile.name }}"  type="text">

			<label for="profile-pic" class ="input-head"> Profile Pic </label>
			<p class ="help-text"> Upload a photo of size not more than 300 X 300 </p>
			<div class="post-item user-image" style="background-image:url(&quot;{{profilePic}}&quot;); width:200px; height:200px;"></div>
			<input class="form-control profile-pic" id="dash-profile-pic" name="profilePic" type="file">
			
			<button class="btn primary-btn btn-default" type="submit"> Save User Settings </button>	<br><br>
		</form>


	</div>
    {{#if isInRole 'admin' }}
		<form action="/dashboard" class="secondary-form" id="dash-admin-form" method="post">
			
		<h3 class ="secondary-form-head"> Admin Settings </h3>
			 
			<label for="primary-branding" class ="input-head"> Site Name </label>
			<p class ="help-text"> 
				What do you want to call your website ?				
			</p>	
			<input class="form-control" id="dash-primary-branding" name="primaryBranding" value ="{{ settings.siteName }}" type="text">

			<label for="mail_url" class ="input-head"> Mail Url </label>
			<p class ="help-text"> Mail_Url provides authentication to email-id from where emails shall be sent to users. It's in format 
				<code> http://username:password@example.com:25 </code>
			</p>	
			<input class="form-control mail_url" id="dash-mail-url" name="mailUrl"  type="text" value="{{ settings.mailUrl }} " >
			 
			<label for="g_obj-path" class="input-head"> g-obj Path </label>
			<p class ="help-text"> Type command  
				<code> which g-obj </code> to get path of g-obj convertor in your server. BRL-CAD must already be installed for OGV to work.
			</p>
			<input class="form-control g_obj-path" id="dash-g-obj-path" name="gObjPath" value="{{settings.gobjPath }}" type="text">
			
			<label for="mged-path" class="input-head"> mged Path </label>
			<p class ="help-text"> Use the command 
				<code> which mged</code> to get path of mged. 
			</p>
			<input class="form-control mged-path" id="dash-mged-path" name="mgedPath" value="{{settings.mgedPath}}" type="text">

			<button class="btn primary-btn btn-default" type="submit"> Save Admin Settings </button>
		</form>
    {{/if}}

	<script>
	function textCounter(field,field2,maxlimit)
	{
 		var countfield = document.getElementById(field2);
 		if ( field.value.length > maxlimit ) {
  			field.value = field.value.substring( 0, maxlimit );
  			return false;
 		} else {
  			countfield.innerHTML = "*"+(maxlimit - field.value.length)+" characters left";
 		}
	}
	</script>
</template>
