<template name="filemanager">
    <div class="modelsList container-fluid">
	<div class = "models row">
	{{#each models}}
		{{> aboutModel}}
	{{/each}}
	</div>
    </div>
</template>

<template name ="aboutModel">
     <div class="model-file .col-xs-3">
	<div class = "model-meta">
		<a class = "model-meta-name meta-desc" href="models/{{_id}}"> {{name}}  </a>
		<span class = "model-meta-love meta-desc">
			<span class = "meta-love-icon meta-icon"> </span>
			 {{lovemeter}} 
		</span>
	</div>
     </div>
</template>
