<template name="filemanager">
    <div class="modelsList container">
	<h1>My models</h1>
	<div class = "models row-fluid">
	{{#if models}}
		{{#each models}}
			{{#if converted }}
				{{> aboutModel}}
			{{/if}}
		{{/each}}
	{{else}}
		<h3>No models have been fed by you, <a href="/upload">feed something to OGV</a></h3>
	{{/if}}
	</div>
    </div>
    <br><br><br>
</template>

<template name ="aboutModel">
     <div class="model-file .col-xs-3">
		{{> modelView }}		
		<div id = "editModelButtons">
			<a href="#"><img id="deleteModel" src="/icons/delete.png" width="30px" height="30px"/></a>
			<a href ="/description/{{_id}}"> <img src="/icons/Settings.png" width="30px" height="30px"/></a>
		</div>
     </div>
</template>
