<template name = "modelFeed">
    {{#each models}}
	<div class="feed-wrapper">
	    <div class="user-info">
		<div class="user-image"></div>
		<div class="user-meta"></div>
	    </div>

	    <div class="model-info">
		<p class="user-name"> {{ owner.profile.name }} posted {{ name }}</p>
		<div class="model-file feed-model-preview">
		    <a  href="/models/{{_id}}"><h2 class="model-name">{{ name }}</h2></a>
		</div>
		<div class="model-description">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida suscipit libero, id accumsan dolor feugiat et. Proin sed tristique lorem. Nunc sed gravida est, a tristique ligula. Sed congue arcu enim, ac blandit tortor accumsan et. Duis id diam metus. In posuere ante a consectetur auctor. Maecenas ligula libero, convallis a iaculis eget, posuere cursus felis. Aliquam nisi lorem, volutpat quis turpis eget, adipiscing sollicitudin magna. Sed fringilla libero a leo porttitor sagittis. Aliquam tempus neque vel enim tristique, pulvinar volutpat nisi rutrum. Nam interdum velit et arcu aliquet tristique. Cras in interdum est, id vestibulum mi.</p>
		</div>
	    </div>

	    <div class="love-share">
		<div class="love">
		    <span class="meta-love-icon meta-icon"></span>
		    {{>love}}
		</div>

		<div class="comment">
		    <span class="meta-comment-icon meta-icon"></span>
		</div>

		<div class="share">
		</div>
	    </div>
	</div>
    {{/each}}
</template>
