<template name = "modelFeed">
    <div class="feed-wrapper">
    {{#if models}}
	{{#each models}}
	    {{#if converted }}
		{{> modelPost }}
	    {{/if}}
	{{/each}}
    {{else}}
	<h3>OGV is hungry, <a href="/upload">feed some models</a></h3>
    {{/if}}
    </div>
</template>


<template name ="modelPost">
    <div class="feed-item model-post">
      <div class="post-section post-sidebar user-info">
		<div class="post-item user-image" style="background:url('{{userImg}}');"></div>
		<div class="post-item post-meta user-meta"></div>
      </div>
	    
     <div class="post-section post-content model-info">
		<p class="post-item post-text user-name"> {{ owner.profile.name }} posted {{ name }}</p>
		<div class="post-item">
	        {{> modelView }}	
		<p class="post-text post-subitem"> {{ about }} </p>
		</div>
        <div class="post-item love-wrapper">
            {{> lovemeter }}
        </div>
        <div class="post-item comments-wrapper">
        {{> comments }}    
        </div>
     </div>
     <span class="clear"></span>
</div>
	    
	     

</template>
<template name="modelView">
	<div class="post-item model-preview" style="background-image:url(&quot;{{thumbImg.url}}&quot;);">
		<a class = " model-preview-link" href="/models/{{_id}}"><h2 class="post-subitem model-name"><span class="model-link-text">{{ name }}</span></h2></a>
	</div>
</template>
