<template name="profileSidebar">
    <div class="profile-info-section">
		<div class="profile-info-content">
			<p style="color:#ccc;font-size: 15px;text-transform:upperCase"> {{currentUser.profile.name}}, that's you! </p>
			<a href="/profile/{{ currentUser._id }}">
		        <div class="post-item user-image" style="background-image:url(&quot;{{userImg}}&quot;); width:100px; height:100px;"></div>
		    </a>
		    <!-- <div style="float:right;">
		    	MODELS
		    	FOLLOWERS
		    	FOLLOWING
		    </div> -->
		</div>

		<div class="profile-info-content">
			<p style="color:#ccc;font-size: 15px;"> WHO TO FOLLOW </p>
	    </div>

		<div class="profile-info-content">
			<p style="color:#ccc;font-size: 15px;"> POPULAR MODELS </p>
	    </div>

		<div class="profile-info-content">
			<p style="color:#ccc;font-size: 15px;"> NEWS </p>
	    </div>
	</div>
</template>