<template name="logIn">
	{{#unless currentUser}}
	<div class="primary-container" id="log-in-container">
		{{> primaryBranding }}
		<form action="/login" class=" primary-form log-in-form" id="log-in-form" method="post">
			<input class="primary-input email" id="log-in-email" type="email" name="email" placeholder="your email address here" >
			<input class= "primary-input password" id="log-in-password" type="password" name="password" placeholder="password">
			<button class="btn btn-default primary-input primary-btn" type="submit"> Log In </button>
		</form>
			<h4 class="meta-links" align="center" style="color:#e74c3c">OR SIGN IN WITH</h4>
			
			<div align="center">
	        	<img id="loginGoogle" src="/icons/google-plus.png" width="50px" height="50px"/>
	        	<img id="loginFacebook" src="/icons/facebook.png" width="50px" height="50px"/>
	        	<img id="loginGithub" src="/icons/github.png" width="50px" height="50px"/>
	        	<!-- Uncomment the line below while configuring 3rd party login -->
	        	<!-- {{> loginButtons}} -->
			</div>	 

		<a class = "meta-links" id="show-forgot-password" href="/forgot-password" > Forgot Password </a>
		<a class = "meta-links" id="show-sign-up" href="/sign-up" > Sign Up </a>
	</div>
	{{else}}
		{{>modelFeed}}
	{{/unless}}
</template>
