<template name="resetPassword">
	<div class="reset-password primary-container">
		
		<form action="/reset-password" class="primary-form" id="reset-password-form" method="post">
			<input class="password form-control" id="reset-password-password" name="password" placeholder=" Your new password " type="password">
			<input class="password form-control" id="reset-password-confirm" name="passwordConfirm" placeholder= "Retype your password" type="password">
			<button class="btn primary-btn btn-default" type="submit"> Reset Password </button>
		</form>
	</div>
</template>
