<template name="signUp">
	<div class="primary-section" id="sign-up-container">
		<form action="/sign-up" class="primary-form" id="sign-up-form" method="post">
			<input class="form-control email" id="sign-up-email" name="email" placeholder="Your email address" type="email">
			<input class="form-control password" id="sign-up-password" name="password" placeholder="Your new password" type="password">
			<input class="form-control password" id="sign-up-password-confirm" name="password-confirm" placeholder= "Confirm your password" type="password">
			<button class="btn btn-default" type="submit"> Sign Up </button>
		</form>
	</div>
</template>
