@import url(http://fonts.googleapis.com/css?family=Megrim);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	background:#f3f3f3;
	font-family:'open sans', sans-serif;
	font-size:16px;
}

a {
	color:#e74c3c;
}

a:hover {
	color:#f74c3c;
	text-decoration: none;
	border-bottom: 1px dashed #e74c3c;
}

h2 {
	color:#e74c3c;
	font-weight:300;
}

.page-container {
	max-width:900px;
	margin:auto;
}

#main {
	padding-top:50px;
}

.wrapper {
	margin-top:20px;
}

.universal-header {
	width:100%;
	height: 40px;
	background:#333;
	position:fixed;
	top:0;
	z-index:1000;
}

#header-logo {
	font-family:'Megrim',cursive;
	padding:5px 5px;
	display:inline-block;
	background:#e74c3c;
	height: 40px;
	font-size:24px;
	line-height: 45px;
	color:#fff;
	text-shadow:1px 1px rgba(0,0,0,0.5);
}

#header-logo:hover {
	text-decoration:none;
}
.right-menu {
	float:right;
	line-height:40px;	
}

.rm-item:hover {
	background: #e74c3c;
}

.rm-item {
	display:inline-block;
	width:50px;
	height:40px;
}

.rm-item img {
	padding-left:10px;
}

.secondary-menu{
	position:absolute;
	margin-top:100px;
}

.sm-item{
	padding-bottom:10px;
	width:100px;
	text-align: center;
}

.sm-item:hover {
	cursor: pointer;
}

.sm-menu-text{
	color:#e3e3e3;
	margin-top:10px;
	font-size:14px;
}

.sm-item:hover > .sm-menu-text{
	color:#e74c3c;
}

.ogv-status{
	max-width: 400px;
	margin:auto;
	background:rgba(0,0,0,0.3);
	color:#fff;
	text-shadow:1px 1px rgba(0,0,0,0.5);
	text-align:center;
	border-radius:5px;
	line-height:30px;
}

.notifications {
	max-width:700px;
	position:relative;
	margin:auto;
	margin-top:60px;
	z-index:1100;
	word-wrap:break-word;	
}
.primary-container {
	max-width:280px;
	margin:auto;
	margin-top:10%;
}

.primary-form input, .primary-form button, .secondary-form input, .secondary-form button, textarea {
	display:block;
	width:100%;
	min-height: 40px;
	line-height:40px;
	margin-top:20px;
	text-align: center;
	border:0px;
	border-radius: 3px;
	padding:0px 0px;
	font-family: 'open sans',sans-serif;
}

textarea {
	line-height:1.5;
	min-height: 100px;
}

.secondary-form {
	max-width: 400px;
	margin:30px 30px;
	margin:auto;
	display:block;
}


.help-text {
	font-size: 14px;
	font-style: italic;
	color: #ccc;
}

.primary-btn {
	background:#e74c3c;
	font-size: 20px;
	padding:0px 0px;
	color: #fff;
	width:250px;
	text-shadow: 0px 0px;
}

.primary-btn:hover {
	color:#fff;
	background:#e75c4c;
}

.secondary-btn {
    background:#e74c3c;
    font-size:16px;
    color:#fff;
    height:32px;
    line-height:32px;
    text-shadow:none;
    padding-top:0px;
    box-shadow:none;
}

.secondary-btn:hover{
    background:#e74c3c;
    color:#fff;
}
    

.primary-branding {
	font-size: 24px;
	font-family: 'megrim',cursive;
	font-weight:normal;
	text-align:center;
}
input:focus {
	box-shadow: none;
}

.meta-links {
	font-size:14px;
	margin-top:20px;
	display:block;
}

.modelsList {
	margin-top: 20px;
}

.model-file {
	width: 280px;
	height: 250px;
	float:left;
	margin-left:10px;
}

.model-file .model-preview[style] {
	background-size: cover;
}

.model-meta {
	color:#333;
}

.meta-desc {
	margin: 0px 10px 0px 10px;
}

.model-meta-name {
	float:left;
	width:100px;
	color:#fff;
	overflow:hidden;
}
.meta-icon {
	display:inline-block;
	width:40px;
	height: 40px;
	vertical-align:bottom;
}

.meta-love-icon{
	background:url('/icons/love.png') no-repeat;
}

.meta-comment-icon{
	background:url('/icons/Chat.png') no-repeat;
}

.model-meta-love {
	float:right;
	text-align:right;
	width:100px;
}

.model-meta-love:hover {
	color:#e74c3c;
}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

#model-container {
 	position:fixed;
	left:0;
	top:0;
	z-index: 900;

}

.dropzone-text{
	color: #333;
	text-align:center;
	font-family:'Open Sans', 'sans-serif';
	font-size:22px;
	margin-top:100px;
}

.dropzone{
	background: #fff url('/icons/upload-big.png') no-repeat center;
	border: 5px dotted #f7f7f7;
}

#fileInput{
	float: right;
	margin-top: -40px;
}

.rm-log-out{
	background: #333;
	border: none;
	margin-top:-3px;
}

.rm-log-in{
	color:#fff;
}

.rm-log-in:hover{
	background-color:#333;
}

.feed-wrapper{
     font-size: 14px;
	color: #555;
	margin-left: 5px;
	line-height: 1.5;   
	max-width: 700px;
    margin:50px auto 50px auto;
}

.feed-item {
    margin:10px 0px 10px 0px;
    overflow:hidden;
}

.post-section{
    float:left;
    margin-left:10px;
}



.post-meta {
    padding:5px 5px;
    font-size:12px;
    font-style:italic;
    color:#888;
}

.post-sidebar {
    width:100px; /* at screens less than 600px it will be 100% */
}

.user-image{
	width: 70px;
	height:70px;
	background: #333;
	border: 1px solid #333;
	background-size:cover !important;
	background-position: center !important;	
	border-radius:50%;
}    

.user-profile-pic {
	width: 200px;
	height: 200px;
	border: 2px solid #333;
	border-radius:50%;
	background-size:cover !important;
	background-position:center !important;
}

.post-content {
    padding:10px 10px;
    width:500px;
    max-width:500px;
    background:#fff;
    border-radius:5px;
    border: 1px solid #dadada;
}


.model-preview {
    margin: 10px 0px 10px 0px;
    height:250px;
    width:100%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;    
    background-color:#333;
    border: 1px solid #ccc;
}

.model-preview-link{
	text-align:center;
	
}
  
.model-name{
    padding-top:90px;
    color: #fff;
	text-transform: capitalize;
	font-weight: 300;
	font-size: 25px;
    height:160px;
}
.model-link-text{
    background-color: rgba(0,0,0,0.2);
   display:block;
}
/*
.user-info, .model-info, .love-share{
	float:left;
	padding: 15px;
}


.user-info{
	margin-left: 25px;
	width: 100px;
}



.model-post {
    max-width:600px;
}
.model-info{
}

.feed-model-preview{
	width: 100%;
	height: 250px;
}

.user-name{
	margin-left: 5px;
}

.post-description{
	width:500px;
    margin-top:10px;
    display:block;
    
}

.post-description > p{
    width:100%;
	font-size: 14px;
	color: #555;
	margin-left: 5px;
	line-height: 1.5;
}*/
#overlay-comments {
	position:fixed;
	background:rgba(255,255,255,0.5);
	bottom:-10000px;
	right:0px;
	max-height:600px;
	border-radius:5px;
	min-width: 300px;
	max-width: 600px;
	z-index: 950;
	padding: 20px 20px;
	padding-top:50px;
	overflow-y:auto;
	max-height:90%;
}

#comments-close-button {
	margin-right:-10px;
	cursor:pointer;
	color:#fff;
	text-align:center;
	line-height:25px;
	background:#e74c3c;
	width:25px;
	height:25px;
	float:right;
	border-radius:50%;
}

#overlay-comments .comments {
 	display:block;
}
.comments-wrapper {
	margin-top:10px;
}    
.comments {
    display:none;
    overflow:hidden;
}

.comments-header {
    line-height:30px;
    border-radius:5px;
    display:block;
    padding-left: 10px;
    height:30px;
}

.comments-header:hover {
    cursor:pointer;
    background:rgba(231,76,60,0.1);
}
.comments-icon {
    float:left;
}
.comment-item{
    text-align:left;
    padding:5px 5px 5px 10px;
    margin-top:10px;
    background:#eaeaea;
    border-radius:5px;
}
.comment-meta{
    padding-top:10px;    
    color:#666;
    font-size:12px;
    font-style:italic;
    color:#8a8a8a;
}

.author{
    color:#333;
}

.clear {
    float:none;
}

textarea {
   resize: none;
   text-align: justify;
}